{# src/ML/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends ['MLPlatformBundle::layout.html.twig', 'MLPlatformBundle::index.html.twig'] %}


{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

    {% block map %}{% endblock %}

{% block mlplatform_body %}

  <h2>Ajouter une annonce</h2>

  {{ include("MLPlatformBundle:Advert:form.html.twig") }}

  <p>
    Attention : cette annonce sera ajoutée directement
    sur la page d'accueil après validation du formulaire.
  </p>

  <p>
    <a href="{{ path('ml_platform_view', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
  </p>

{% endblock %}

